body {
  background-color: rgb(172, 157, 255);
  padding: 4px;
  width: auto;
  text-align: center;
}
div{
  display: flex;
  width: 90%;
  margin: 0 5%;
  justify-content: space-around;
}
img{
  margin: 0 20px;
}
